# Heart Disease: Classification of Heart Disease Patients in Cleveland using Age, Blood Sugar, Cholestoral, and Heart Rate.

### Introduction
about heart disease

### UCl Heart Disease Dataset
blah blah

### Preliminary Data Analysis

#### Reading Data and Setting Variables

In [26]:
library(tidyverse)
library(tidymodels)
library(repr)
library(RColorBrewer)


data_url <- "https://raw.githubusercontent.com/sophiaxsyang/dsci100-prject/main/processed.cleveland.data"

cleveland_data_raw <- read_csv(data_url,
                           col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", 
                                         "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"),
                           col_types = list("d", "f", "f", "d", "d", "f", "f", "d", "f", "d", "f", "d", "f", "d"))
head(cleveland_data_raw)

Warning message:
“One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)”

  age sex cp  trestbps chol fbs restecg thalach exang oldpeak slope ca thal num
1 63  1.0 1.0 145      233  1.0 2.0     150     0.0   2.3     3.0   0  6.0  0
2 67  1.0 4.0 160      286  0.0 2.0     108     1.0   1.5     2.0   3  3.0  2
3 67  1.0 4.0 120      229  0.0 2.0     129     1.0   2.6     2.0   2  7.0  1
4 37  1.0 3.0 130      250  0.0 0.0     187     0.0   3.5     3.0   0  3.0  0
5 41  0.0 2.0 130      204  0.0 2.0     172     0.0   1.4     1.0   0  3.0  0
6 56  1.0 2.0 120      236  0.0 0.0     178     0.0   0.8     1.0   0  3.0  0

#### Tidying Data

In [34]:
set.seed(1)
cleveland_data <- cleveland_data_raw |>
    select(age, fbs, chol, thalach, num) |>
    mutate(diag = ifelse((num > 0), TRUE, FALSE)) |>
    mutate(fbs = as.factor(as.integer(fbs)))


# Split the dataset into training and testing sets.
cleveland_split <- initial_split(cleveland_data, prop = 3/4, strata = num)
cleveland_training_data <- training(cleveland_split)
cleveland_testing_data <- testing(cleveland_split)

head(cleveland_training_data)

  age fbs chol thalach num diag
1 63  1   233  150     0   FALSE
2 67  2   286  108     2    TRUE
3 67  2   229  129     1    TRUE
4 37  2   250  187     0   FALSE
5 41  2   204  172     0   FALSE
6 56  2   236  178     0   FALSE

  age fbs chol thalach num diag
1 63  1   233  150     0   FALSE
2 41  2   204  172     0   FALSE
3 56  2   294  153     0   FALSE
4 57  2   168  174     0   FALSE
5 49  2   266  171     0   FALSE
6 64  2   211  144     0   FALSE